# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

site_name: Haudy
repo_name: tudalgo/haudy
repo_url: https://github.com/tudalgo/haudy
theme:
  name: material
  favicon: assets/favicon.png
  logo: assets/favicon.png
  language: de
  palette:
    # Automatic palette toggle
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: cyan
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: indigo
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
  features:
    - content.action.edit
    - navigation.expand
    # - navigation.instant
    # - navigation.indexes
    # - navigation.instant.progress
    - navigation.path
    - navigation.tracking
    - navigation.top
    - navigation.sections
    - content.code.copy
    - content.code.select
  custom_dir: docs/overrides

nav:
  - Vorbereitung:
    - "Terminal Verwendung": "preparation/terminal.md"
    - Paket Manager: preparation/packagemanager.md
    - Installieren von Java: preparation/installation-java.md
    - Installieren von IntelliJ: preparation/installation-intellij.md
    - Installieren von DrRacket: preparation/installation-racket.md
    - Installieren von Git: preparation/installation-git.md
    - Hinzufügen der Matrikelnummer: preparation/matriculation-number.md
  - Hausübungen:
    - Herunterladen und importieren: exercises/download-import.md
    - Bearbeiten von Hausübungen: exercises/edit.md
    - Beheben von häufigen Fehlern: exercises/fix-errors.md
    - Exportieren und Hochladen: exercises/export-upload.md
    - Nicht Unterstützte IDEs: exercises/download-import-unsupported.md
    - Dokumentation von Java-Quellcode: exercises/documentation.md
    - Beanstandungen: exercises/complaints.md
  - Sprechstunden:
    - Bevor Sie eine Sprechstunde besuchen ...: support/good-bad-questions.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html

plugins:
  - search
  - glightbox:
      background: white
  - i18n:
      docs_structure: suffix
      languages:
        - locale: de
          default: true
          name: Deutsch
          build: true
        - locale: en
          name: English
          build: true
          nav:
            - Preparation:
              - "Terminal Usage": "preparation/terminal.md"
              - Package Manager: preparation/packagemanager.md
              - Installing Java: preparation/installation-java.md
              - Installing IntelliJ: preparation/installation-intellij.md
              - Installing DrRacket: preparation/installation-racket.md
              - Installing Git: preparation/installation-git.md
              - Adding the Matrikelnummer: preparation/matriculation-number.md
            - Assignments:
              - Download and import: exercises/download-import.md
              - Editing: exercises/edit.md
              - Fixing common errors: exercises/fix-errors.md
              - Export and Upload: exercises/export-upload.md
              - Unsupported IDEs: exercises/download-import-unsupported.md
              - Documentation of Java-Sourcecode: exercises/documentation.md
              - Complaints: exercises/complaints.md
            - Consultation hours:
              - Before attending a consultation ...: support/good-bad-questions.md

extra_css:
  - stylesheets/smooth-scroll.css
  - stylesheets/dynamic-lightbox-theme.css
